<div class="yield home2">

<h1>The Teams</h1>
	<% @teams.each do |team| %>
		<h3><%=team.teamname%></h3>
		<p><b><%=team.players[0].prename%> and <%=team.players[1].prename%> </b></p>
		<%= link_to "Sponsor Team", new_team_sponsor_path(team), class: "btn btn-success" %>
	
	<%end%>
</div>