
<h1>Update Positions!</h1>
	  <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyAq5jqy6DxgQBkk4KoTPgqEk2Pcwc0WfwE&sensor=False"></script>

<button id="getLocation" type="submit">Get My Location</button>


<button id="getAddress" type="submit">Get My Address</button>

<p id="latitude"></p>
<p id="longitude"></p>
<p id="address"></p>
