<h1>Update Positions!</h1>

<button id="getLocation" type="submit">Get My Location</button>


<button id="getAddress" type="submit">Get My Address</button>

<p id="latitude"></p>
<p id="longitude"></p>
<p id="address"></p>