<h4>The liveblog</h4>

<div id="map">
	<p>Here is the map</p>
</div>



<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 30px; padding: 30px }
      #map_canvas { height: 100% }
    </style>
</head>



<div id="map_canvas" style="width:100%; height:100%"></div>

