<h4>The liveblog</h4>

<div id="map">
	<p>Here is the map</p>
</div>

<button id="getLocation" type="submit">Get My Location</button>


<button id="getAddress" type="submit">Get My Address</button>

<div id="all">

</div>

<p id="latitude"></p>
<p id="longitude"></p>
<p id="address"></p>

<button id="getData" type="submit">Get Data</button>

<div id="data"></div>

<p id="entries"></p>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 30px; padding: 30px }
      #map_canvas { height: 100% }
    </style>
</head>


<button id="showMap" type="submit">showMap</button>
<div id="map_canvas" style="width:100%; height:100%"></div>

