body#home2 {
    margin: 0;
    padding: 0px;
}



.home2 {
  width: 100%;
  height: 90vh; 
  min-height: 500px;
  background: url(background2.jpg) repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.yield {
	padding-top: 20px; 
  padding-left: 80px;
  padding-right: 80px;

}

#nav-bar-background {
  width: 100%;
  height: 56px;
  background-color: #272731;
}	

.baritems {
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  margin-left: 65px;
}

.baritems li {
  margin-right: 5px;
}

#login_logout {
  float: right;
  margin-top: 13px;
}

#navbar {
  float: left;
}

input.teamform {
  max-width: 120px;
}

#logout_form {
  float: right;
  margin-right: 80px;
}

#login_alert {
  position: absolute;
  top: 70px;
  right: 70px;
  z-index: 4;
}

a {
  color: white !important;
}











