$nav-height: 9vh;

#map_container {
	margin-top: -170px;
	/*padding: 30px;*/
}

#navbar,
.nav, .nav-tabs, .baritems,
#nav-bar-background{
	border: none !important;
}

#nav-bar-background{
	height:$nav-height !important;
	min-height: 56px !important;

}
#map_canvas { 
	width: 100% !important;
	height:100vh - $nav-height;
}

.full{
	width:100vw !important;
}

#timer {
	position: relative; left: 150px; top: 75px;
	z-index: 1;
	transform: translate(-50%, -50%);
	width: 300px;
	border-top: 80px solid #272731;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}

.centerwrap { 
	display: table;
	margin: 0 auto;
}

.clock {
position: relative; top: -80px;
z-index: 2;
}

.time_circles > div > span {
	color: white !important;
}

.time_circles > div > h4 {
	color: white !important;
}

// Footer styles

.centerwrap2 { 
	display: block;
}

#specialbar {
	position: absolute;
	bottom: 0;
	z-index: 2;
	height: 50px;
	width: 100%;
	background: #272731;
	transition: height 2s;
}


.centerwrap3 { 
	display: table;
}



#arrow {
	position: absolute;
	left: 50vw;
	bottom: 0;
	z-index: 2;
	transform: translate(-50%, -50%);
	width: 150px;
	border-bottom: 60px solid #272731;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	transition: bottom 2s;
}

.centerwrap4 { 
	display: table;
}




#glyphicon {
	position: absolute; left: 50vw;
	transform: translate(-50%, -50%);
	bottom: -10px;
	z-index: 4;
    font-size: 30px;
    transition: bottom 2s;
}

#dlead {
	color: white;
	font-size: 1.3em;
	font-family: 'Open Sans', sans-serif;
	float: left;
	margin-left: 80px;
	margin-top: -5px;
}

#rlead {
	color: white;
	font-size: 1.3em;
	font-family: 'Open Sans', sans-serif;
	float: right;
	margin-right: 80px;
	margin-top: -5px;
}

// .upclass {
// 	position: absolute;
// 	bottom: -50px !important;
// }

.footer-info {
	display: none;
}

.yield3 {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
}

h1#title {
	text-align: center;
}

#blogentry {
	font-size: 1.2em;
	width: 100%;
	height: 155px;
    border-style: solid;
    border-width: 2px;
	border-color: #272731;
	border-radius: 3px;
}

div p.message {
	margin: 5px 5px;
	white-space: wrap;
	overflow: auto;
}

.image {
	// margin-top: 40px;
	// margin-left: 20px;
}

#blogentry {
	margin-bottom: 30px;
}

div#imageblog {
	float: right;
}

.imageme {
		float: right;
		margin-top: 10px;
		margin-right: 50px;
	}



