.response {
	margin-top: 30px;
}

.onload.response {
	color: black;
	font-size: 1.15em;
}

.input-large {
	height: 120px !important;
}

#load_image {
	margin-top: 63px;
}

.btn.btn-success.send{
	height: 80px;
	width: 100px;
	margin-left: 55px;
	margin-left: 55px;
}

