
<div id="logout_form">
	<form method="POST" action="<%= logout_path %>">
		<input name="_method" type="hidden" value="DELETE" />
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="submit" class="btn btn-danger" value="Logout">
	</form>
</div>
<%= javascript_include_tag 'youmay' %>